<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<CurrentEnvironment>Production</CurrentEnvironment>
	<Environment>
	    <Value>Dev</Value>
	    <Settings>
	    	<Setting>
	    		<Name>CommonDBConnection</Name>
	    		<Value>
	    			<Settings>
				    	<Setting>
				    		<Name>DbDriverClassName</Name>
				    		<Value>com.mysql.jdbc.Driver</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbUserName</Name>
				    		<Value>devuser</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbPassword</Name>
				    		<Value>qyff2011</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbInitialSize</Name>
				    		<Value>20</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbMaxActive</Name>
				    		<Value>200</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbMaxIdle</Name>
				    		<Value>50</Value>
				    	</Setting>
				    	<Setting>
			    						<Name>DbUrl</Name>
						    			<Value><![CDATA[jdbc:mysql://58.240.237.22:3306/feifanuniv?autoReconnect=true&useUnicode=yes&characterEncoding=UTF-8]]></Value>
			    		</Setting>
	    			</Settings>
	    		</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>UploadFolder</Name>
	    		<Value><![CDATA[F:\elearningupload\]]></Value>
	    	</Setting>
	    	<Setting>
	    		<Name>ReportStartDate</Name>
	    		<Value>2014-04-11</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>ReportEndDate</Name>
	    		<Value>2014-10-10</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>TimeCountInterval</Name>
	    		<Value>60000</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>CacheMaxEntry</Name>
	    		<Value>100000</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>CacheTTL</Name>
	    		<Value>3600</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>CacheTTI</Name>
	    		<Value>3600</Value>
	    	</Setting>
	    </Settings>
	</Environment>
	<Environment>
	    <Value>Production</Value>
	    <Settings>
	    	<Setting>
	    		<Name>CommonDBConnection</Name>
	    		<Value>
	    			<Settings>
				    	<Setting>
				    		<Name>DbDriverClassName</Name>
				    		<Value>com.mysql.jdbc.Driver</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbUserName</Name>
				    		<Value>root</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbPassword</Name>
				    		<Value>qingshu</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbInitialSize</Name>
				    		<Value>20</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbMaxActive</Name>
				    		<Value>200</Value>
				    	</Setting>
				    	<Setting>
				    		<Name>DbMaxIdle</Name>
				    		<Value>50</Value>
				    	</Setting>
				    	<Setting>
			    			<Name>DbUrl</Name>
						    <Value><![CDATA[jdbc:mysql://127.0.0.1:3306/feifanuniv?autoReconnect=true&useUnicode=yes&characterEncoding=UTF-8]]></Value>
			    		</Setting>
	    			</Settings>
	    		</Value>
	    	</Setting>
	    	
	    	<Setting>
	    		<Name>UploadFolder</Name>
	    		<Value><![CDATA[/var/www/qingshu/upload/]]></Value>
	    	</Setting>
	    	<Setting>
	    		<Name>ReportStartDate</Name>
	    		<Value>2014-10-11</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>ReportEndDate</Name>
	    		<Value>2015-04-10</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>TimeCountInterval</Name>
	    		<Value>60000</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>CacheMaxEntry</Name>
	    		<Value>1000000</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>CacheTTL</Name>
	    		<Value>3600</Value>
	    	</Setting>
	    	<Setting>
	    		<Name>CacheTTI</Name>
	    		<Value>3600</Value>
	    	</Setting>
	    </Settings>
	</Environment>
</Configuration>